@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Clases */
@layer components{

    /* NavBar Icons */
    .NavBar-icon{
        @apply
        relative flex items-center justify-center
        h-10 w-10 mt-2.5 mb-2.5 mx-auto rounded-2xl
        bg-secondary text-white shadow-navBarIcon
       
        hover:scale-110
        hover:bg-indigo-600
        hover:shadow-navBarIconHover

        transition-all duration-150 ease-linear
        ;
    }

    /* NavBar tooltips */
    .NavBar-tooltip{
        @apply
        absolute w-auto p-2 m-2 min-w-max left-11
        rounded-md shadow-md
        text-white text-xs bg-blackBase
        transition-all duration-100 scale-0 origin-left
        ;
    }

    /* Titulos de paginas */
    .PageTitle{
        @apply
        text-lg text-secondary font-bold text-center
        uppercase
        ;
    }

    /* Tarjeta de Tareas */
    .Tarjeta{
        @apply
        bg-slate-200 rounded-md p-3.5
        shadow-container
        w-auto
        overflow-hidden
        ;
    }
    .Tarjeta_field{
        @apply
        p-2 mb-2
        text-sm
        bg-white
        rounded-md
        ;
    }

    .Tarjeta_field_Overflow{
        @apply
        overflow-y-auto
        whitespace-pre-wrap
        ;
    }

    /* TaskCard Icons */
    .Card-icon{
        @apply
        relative flex items-center justify-center
        p-0.5 rounded-md
        bg-details_3 text-white 

        hover:bg-indigo-600

        transition-all duration-100 ease-linear
        ;
    }

    /* Main Button */
    .MainButton{
        @apply
        bg-details_2 rounded-md px-2 h-8
        text-base text-white

        hover:bg-details_3
        transition-all duration-100 ease-linear
        ;
    }

    .ProductShortView{
        @apply
        p-2
        relative
        bg-slate-200
        rounded-md
        h-max
    }

    .SelectedProductView{
        @apply
        relative
        bg-details_3
        rounded-md
        h-max
    }

    .Cantidad{
        @apply 
        absolute bottom-0 right-0
        transform translate-x-1 translate-y-1
        /* absolute bottom-0
        transform translate-y-1/2 */
        flex items-center justify-center
        bg-red-600
        text-white font-bold
        rounded-full h-6 w-6
    }

    .QuantityButtons{
        @apply
        flex items-center justify-center
        p-0.5
        bg-details_3
        hover:bg-indigo-600
        transition-all duration-100 ease-linear
    }
}